<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steepswakes</title>
    <!-- Styles -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet" />
    <!-- Add favicon  -->
    <link rel="icon" href="/img/broom-solid.svg" type="image/x-icon" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <!-- Navbar -->
    <div id="main-top-nav" class="top-nav">
        <div class="left-nav">
            <a href="/" class="top-nav-item">
                Steepswakes
                <i class="fas fa-broom"></i>
            </a>
        </div>

        <ul id="top-right-nav" class="right-nav">
            <a class="top-nav-item" href="/resetDB">ResetDB</a>
            <a class="top-nav-item" href="#">Players</a>
            <a class="top-nav-item" href="#">Competition</a>
            <a class="icon" onclick="openMenu()">
                <i class="fas fa-meteor" style="padding-right: 20px"></i>
            </a>
        </ul>
    </div>
    <!-- End Navbar -->