<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steepswakes</title>
    <!-- Styles -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/landing.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="icon" href="/img/broom-solid.svg" type="image/x-icon" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <!-- Logo div -->
    <div class="landing-logo-outer" data-aos="fade-down">
        <div class="landing-logo-inner" data-aos="zoom-in">
            <h1>Rather Refined SteepSwakes <i class="fas fa-broom"></i></h1>
            <h3>\o &nbsp;&nbsp; Hello &nbsp;&nbsp; o/</h3>
        </div>
    </div>
    <!-- Close Logo div -->

    <!-- Content div -->
    <div class="outer-container" data-aos="fade-up">
        <div class="inner-container">
            <div class="inner-container-lr inner-container-left" data-aos="zoom-in-up"
                style="background-image: url(/img/graffiti.jpg)">
                <a class="green-link" href="./players">
                    <div class="landing-card">
                        <h3>Players</h3>
                    </div>
                </a>
            </div>
            <div class="inner-container-lr inner-container-right" data-aos="zoom-in-up"
                style="background-image: url(/img/pitch.jpg)">
                <a class="green-link" href="#">
                    <div class="landing-card">
                        <h3>Competition</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Content div -->

    <!-- Footer div -->
    <div class="footer" data-aos="zoom-in-down">
        <ul class="footer-list">
            <li class="footer-link-text">
                Photo 1 by
                <a class="green-link"
                    href="https://unsplash.com/@tonyxliao?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tony
                    Liao</a>
                on
                <a class="green-link"
                    href="https://unsplash.com/s/photos/graffiti?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
            </li>

            <li class="footer-link-text">
                Photo 2 by
                <a class="green-link"
                    href="https://unsplash.com/@alexmotoc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alex
                    Motoc</a>
                on
                <a class="green-link"
                    href="https://unsplash.com/s/photos/football-stadium?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>

            <li>
                Icons from <a class="green-link" href="https://icons8.com/">Icons8</a>
            </li>
        </ul>
        <ul class="footer-list">
            <h3>Links</h3>
            <li>
                <h3><a class="green-link" href="#">Github Repo</a></h3>
            </li>
        </ul>
    </div>
    <!--End Footer Footer -->

    <!-- Animation Library -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        AOS.init({
            duration: 1500, // values from 0 to 3000, with step 50ms
        });
    </script>
</body>

</html>

<!-- /c/Program\ Files/MongoDB/Server/4.2/bin/mongod.exe --dbpath=/c/Users/dant/Mongodb-data -->