<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steepswakes</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- Styles -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet" />
    <!-- Add favicon  -->
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon" />
</head>

<body>
    <!-- Logo div -->
    <div class="landing-logo-outer" data-aos="fade-down">
        <div class="landing-logo-inner" data-aos="zoom-in">
            <!-- <img class="centered-image" src="/images/TransparantLogo.png" alt="My Logo" /> -->
            <h1>Rather Refined SteepSwakes</h1>
            <h3>\o &nbsp;&nbsp; Hello &nbsp;&nbsp; o/</h3>
        </div>
    </div>

    <div id="landing-container" data-aos="fade-up">
        <div class="landing-section">
            <div class="landing-section-left colour2-section" data-aos="zoom-in-up"
                style="background-image: url(/img/graffiti.jpg)">
                <a class="landing-link" href="./pickteams">
                    <div class="landing-card">
                        <h3>Pick Teams</h3>
                    </div>
                </a>
            </div>
            <div class="landing-section-right colour1-section" data-aos="zoom-in-up"
                style="background-image: url(/img/pitch.jpg)">
                <a class="landing-link" href="#">
                    <div class="landing-card">
                        <h3>Competition</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Landing Container (Sections)-->

    <div class="landing-footer" data-aos="zoom-in-down">
        <div class="landing-footer-left">
            <ul class="footer-list">
                <li class="footer-link-text">
                    Photo 1 by <a class="landing-link" href="https://unsplash.com/@tonyxliao?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tony Liao</a>
                    on <a class="landing-link" href="https://unsplash.com/s/photos/graffiti?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                </li>

                <li class="footer-link-text">
                    Photo 2 by <a class="landing-link" href="https://unsplash.com/@alexmotoc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alex Motoc</a> 
                    on <a class="landing-link" href="https://unsplash.com/s/photos/football-stadium?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                </li>
                
                <li>Icons from <a class="landing-link" href="https://icons8.com/">Icons8</a></li>
            </ul>
        </div>
        <div class="landing-footer-left">
            <ul class="footer-list">
                <h3>Links</h3>
                <li>
                    <h3><a class="landing-link" href="#">Github Repo</a></h3>
                </li>
            </ul>
        </div>
    </div>
    <!--End Landing Footer -->

    <!-- AOS library fro animations (Yeah I'm having a lazy day
             -> TODO: replace at some point) -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        AOS.init({
            duration: 1500, // values from 0 to 3000, with step 50ms
        });
    </script>
</body>

</html>

<!-- /c/Program\ Files/MongoDB/Server/4.2/bin/mongod.exe --dbpath=/c/Users/dant/Mongodb-data -->
